# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Local config (if you have one)
.env

# --- DATA FILES (DO NOT UPLOAD) ---
*.csv
*.json
*.jsonl

# --- MODEL (DO NOT UPLOAD) ---
t5-recipe-generator/

# --- OTHER ---
.DS_Store
.vscode/
wandb/

